.error-message {
  background-color: #fceae6;
  border-radius: 5px;
  display: flex;
  padding: 12px 9px;
}

.error-message__icon {
  flex: 0 0 auto;
  margin-right: 10px;
}

.error-message__title {
  color: #cf2c00;
  font-size: 18px;
}

.error-message__descr {
  color: rgba(207, 44, 0, 0.5);
  font-size: 12px;
  margin-top: 7px;
  word-break: break-word;
  white-space: pre-wrap;
}
