.history-label {
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  position: relative;
  transition: box-shadow 0.2s;
}

.history-label:hover {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.history-label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-sizing: border-box;
}

.history-label_successful:before {
  background: #30b800;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.history-label_unsuccessful:before {
  background: #cf2c00;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.history-label__name-btn {
  background: none;
  border: none;
  border-radius: 5px;
  padding: 0 27px;
  height: 30px;
  z-index: 1;
  white-space: nowrap;
}

.history-label__name-btn:focus {
  outline: none;
}

.history-label__button {
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
  z-index: 2;
}

.history-label__tooltip {
  font-size: 12px;
  background: #f6f6f6;
  border-radius: 5px;
  padding: 2px 5px;
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.history-label__tooltip_transition-enter {
  opacity: 0;
  transform: translate(-50%, calc(-50% - 8px));
}

.history-label__tooltip_transition-enter-active {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.25s, transform 0.25s;
}

.history-label__tooltip_transition-exit {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.history-label__tooltip_transition-exit-active {
  opacity: 0;
  transform: translate(-50%, calc(-50% - 8px));
  transition: opacity 0.25s, transform 0.25s;
}

.history-label__dropdown-divider {
  border-bottom: 1px solid #cccccc;
  margin: 5px 0;
}
