.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  padding: 0 20px;
  font-size: 1rem;
  line-height: 1.15;
  border-radius: 5px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  min-width: 110px;
  height: 40px;
}

.button__inner {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
}

.button_text-left {
  text-align: left;
}

.button_block {
  display: block;
  width: 100%;
}

.button_no-border-radius {
  border-radius: 0;
}

.button_blue {
  color: #fff;
  background: linear-gradient(180deg, #45a6ff 0%, #0055fb 100%), #c4c4c4;
}

.button_blue:before,
.button_blue:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.2s;
}

.button_blue:before {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0.15)
    ),
    linear-gradient(180deg, #45a6ff 0%, #0055fb 100%), #0055fb;
}

.button_blue:after {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    linear-gradient(180deg, #45a6ff 0%, #0055fb 100%), #0055fb;
}

.button_blue:hover:before {
  opacity: 1;
}

.button_blue:focus {
  outline: none;
  box-shadow: 0px 0px 1px 2px rgba(69, 165, 255, 0.5);
}

.button_blue:active:after {
  opacity: 1;
}

.button__left-icon {
  margin-right: 8px;
}

.button__right-icon {
  margin-left: 8px;
}

.button_link {
  background: none;
  padding: 5px;
  height: auto;
  min-width: initial;
}

.button_link-blue:hover,
.button_link-blue:focus {
  color: #0055fb;
}

.button_link-blue:focus {
  outline: none;
  box-shadow: 0 0 0 2px #9ecefc;
}

.button_link-opacity .button__inner {
  opacity: 0.4;
  transition: opacity 0.2s;
}

.button_link-opacity:hover .button__inner,
.button_link-opacity:focus .button__inner {
  opacity: 1;
}

.button_svg-stroke-hover-blue svg * {
  transition: stroke 0.2s;
}

.button_svg-stroke-hover-blue:hover svg *,
.button_svg-stroke-hover-blue:focus svg * {
  stroke: #0055fb;
}

.button_disabled {
  background: linear-gradient(0deg, #c4c4c4, #c4c4c4),
    linear-gradient(180deg, #45a6ff 0%, #0055fb 100%);
  pointer-events: none;
}

.button_loading {
  pointer-events: none;
}

.button_loading:after {
  background: transparent url("../../images/loader.svg") center / 24px no-repeat;
  opacity: 1;
}

.button_loading .button__inner {
  visibility: hidden;
}

.button_white {
  background-color: #fff;
}

.button_white:hover,
.button_white:focus {
  background-color: #0055fb;
  color: #fff;
}

.button_white:focus {
  outline: none;
}

.button_hover-red:hover,
.button_hover-red:focus {
  background-color: #cf2c00;
  color: #fff;
}

.button_hover-red:focus {
  outline: none;
}

.button_no-outline:focus {
  box-shadow: none;
}
