.labels-panel {
  background: #f6f6f6;
  overflow: hidden;
  border-bottom: 1px solid #cccccc;
}

.labels-panel__container {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.labels-panel__container:before {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(246, 246, 246, 0) 0%,
    rgba(246, 246, 246, 1) 100%
  );
  pointer-events: none;
  z-index: 1;
}

.labels-panel__clear-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  background: #f6f6f6;
  height: 100%;
  width: 50px;
  border-left: 1px solid #c4c4c4;
  z-index: 1;
}

.labels-panel__clear-btn:before {
  content: "";
  position: absolute;
  right: calc(100% + 1px);
  width: 20px;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(246, 246, 246, 0) 0%,
    rgba(246, 246, 246, 1) 100%
  );
  pointer-events: none;
}

/* clear-btn transition */
.labels-panel__clear-btn_transition-enter {
  transform: translateX(100%);
}

.labels-panel__clear-btn_transition-enter-active {
  transform: translateX(0);
  transition: transform 0.5s;
}

.labels-panel__clear-btn_transition-exit {
  transform: translateX(0);
}

.labels-panel__clear-btn_transition-exit-active {
  transform: translateX(100%);
  transition: transform 0.5s;
}
/* end clear-btn transition */

.labels-panel .scrollbar-track {
  z-index: -999;
}

.labels-panel__inner {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 65px;
  box-sizing: border-box;
  position: relative;
  min-height: 50px;
  width: 100%;
}

.labels-panel__label {
  position: absolute;
  transition: left 0.5s;
}

.labels-panel__label {
  padding-right: 10px;
}

.labels-panel__label:last-child {
  padding-right: 65px;
}

/* label transition */
.labels-panel__label_transition-enter {
  transform: translateX(calc(-100% - 15px));
}

.labels-panel__label_transition-enter-active {
  transform: translateX(0);
  transition: transform 0.5s;
}

.labels-panel__label_transition-exit {
  opacity: 1;
  transform: translateY(0);
}

.labels-panel__label_transition-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s, transform 0.5s;
}

/* placeholder transition */
.labels-panel__placeholder_transition-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.labels-panel__placeholder_transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s, transform 0.5s;
}

.labels-panel__placeholder_transition-exit {
  opacity: 1;
  transform: translateY(0);
}

.labels-panel__placeholder_transition-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s, transform 0.5s;
}
