.login-page {
  display: flex;
  flex: 1 0 0;
  background-color: #f7f7f7;
  padding: 30px 0;
}

.login-page__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page__inner {
  width: 100%;
  max-width: 520px;
  text-align: center;
}

.login-page__logo {
  margin-bottom: 19px;
}

.login-page__form {
  text-align: left;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 39px 30px;
  margin-bottom: 17px;
}
