.header {
  background: #f6f6f6;
  padding: 7px 0;
  border-bottom: 1px solid #cccccc;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 20px;
}

.header__title {
  font-size: 20px;
  margin-right: 25px;
}

.header__user-info {
  margin-left: auto;
  border: 1px solid #c5c5c5;
  padding: 4px 13px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.header__user-sublogin {
  position: relative;
  margin-left: 17px;
}

.header__user-sublogin:before {
  content: ":";
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  color: #c5c5c5;
}

.header__logout {
  margin-left: 25px;
}

.header__logout-icon {
  margin-left: 8px;
}

.header__toggle-fullscreen {
  margin-left: 18px;
  margin-right: -5px;
}
