.link {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  transition: color 0.2s, box-shadow 0.2s;
  padding: 4px;
  border-radius: 7px;
}

.link_grey {
  color: #999999;
  text-decoration: none;
}

.link_grey:before {
  color: #0055fb;
  content: attr(data-hover);
  position: absolute;
  opacity: 0;
  transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}

.link_grey:hover:before,
.link_grey:focus:before {
  transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  opacity: 1;
}

.link_grey:focus {
  box-shadow: 0 0 0 2px #9ecefc;
}
