.input-label-group {
  display: block;
}

.input-label-group__title-row {
  display: flex;
  align-items: flex-end;
  margin: 0 -15px 5px;
}

.input-label-group__title-col {
  padding: 0 15px;
}

.input-label-group__title-left {
  margin-right: auto;
}

.input-label-group__left-text_error {
  color: #cf2c00;
}

.input-label-group__title-right {
  color: #999999;
  font-size: 12px;
  text-align: right;
  padding-bottom: 2px;
}
